*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}
.container{
    width: 100%;
}
.head{
    
    text-align: center;
    width: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    margin-top:0.5rem;
}

.wheel{
    width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2rem;
}
.box{
    margin: 0.8rem 1rem;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
    border: 7px solid;
    border-radius: 1.5rem;
}
.misc{
    /* text-align: center; */
    display: flex;
    width: 25rem;
    margin: auto;
    justify-content: space-evenly;
    position: relative;
    /* align-items: center; */
 }
.miscbtn{
    padding: 0.5rem;
    width: 6rem;
    border-radius: 0.7rem;
    margin-top:1.5rem ;
    /* position: relative; */
    /* margin-left:20% ; */
    transition:  2s linear;
}
.inst{
    display: block !important;
}
.hint,.instructions{
    position: absolute;
    margin: 0.5rem ;
    top: 100%;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.868);
    color: white ;
    border-radius: 2rem;
    padding: 1rem;
    border: 5px solid rgb(54, 169, 184);
}
.instructions ul li{
    margin: 1rem;
    list-style: none;
    line-height: 1.7rem;
}
.hintbtn{
    align-self: flex-start;
}
.hint{
    display: block !important;
    position: absolute;
    /* bottom: 0%; */
    /* top: 100%;
    margin: ; */
 }

.highScore{
    width: 50%;
    text-align: center;
    margin: auto;

}
.blink{
    background-color: white !important;
}
.press{
    box-shadow: inset 0px 0px 15px rgb(28, 22, 28);
}

@media(max-width:468px){
    .wheel{
        width: 300px;
    }
    .box{
        width: 100px;
        height: 100px;
    }
    .misc{
        width: 20rem;
    }
    .head{
        font-size: 1rem;
    }
}
